
<div class="row" style="margin-bottom: 20px">
    <div class="col-sm-10">
        <input type="text" data-ng-model="Section.name" class="input-lg form-control" id="inputName" placeholder="Name" >
    </div>
    <div class="col-sm-2 ">
        <button type="button" class="btn btn-success btn-lg btn-block pull-right" ng-click="save()">Speichern</button>
    </div>
</div>


<div text-angular="text-angular" ta-toolbar="[['redo', 'undo'],['h1','h2','h3','p'],['bold','italics','underline','ul', 'ol'],['justifyLeft','justifyCenter','justifyRight'],['html', 'insertImage', 'insertLink', 'unlink']]" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>