@font-face {
  font-family: Ubuntu-L;
  src: url('fonts/Ubuntu-L.ttf') format("truetype");
}

@font-face {
  font-family: Ubuntu-LI;
  src: url('fonts/Ubuntu-LI.ttf') format("truetype");
}

@font-face {
  font-family: Ubuntu-R;
  src: url('fonts/Ubuntu-R.ttf') format("truetype");
}

@font-face {
  font-family: Ubuntu-RI;
  src: url('fonts/Ubuntu-RI.ttf') format("truetype");
}

@font-face {
  font-family: Ubuntu-B;
  src: url('fonts/Ubuntu-B.ttf') format("truetype");
}

@font-face {
  font-family: Ubuntu-BI;
  src: url('fonts/Ubuntu-BI.ttf') format("truetype");
}