* {
 font-family: "Lato",Helvetica,Arial,sans-serif;
}

body {
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	margin: 0;
}

/* CSS file for the Wellington Water Network Map */

#map{
	position:absolute;
	margin: 0px 0px 0px 0px;
	left:0%;
	top:6%;
	right:0%;
	bottom:0%;
}

/*CSS code for the toolbar space*/
#toolbar{
	position:absolute;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid silver;
	right:0%;
	left:0%;
	top:0%;
	bottom:94%;
	background-color:#efefef;
	z-index:15;
}

/*CSS code for the Menu space*/
#sidebar{
	position:relative;
	float: right;
	right:505px;
	/*margin-right: -110px;*/
	background-color: #efefef;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	top:6%;
	width: 220px;
	height: 20%;
	text-align: left;
	vertical-align: left;
	display:none;
	z-index:15;
}
.w2ui-sidebar .w2ui-sidebar-div {
	width: 100%;
	height: 100%;
}

/*CSS code for the time slider*/
#time-slider {
    width: 650px;
    position: absolute;
    bottom: 8%;
    left: 25%;
    background-color: #efefef;
    border: 1px solid silver;
    visibility: hidden;
}

/*CSS code for the buttons of the toolbar space*/
.w2ui-btn {
	position:relative;
	cursor:pointer;
	top:20%;
	height:60%;
	text-align: center;
}
#Impressum-btn {
	float:right;
	right:15px;
	width: 100px;
}
#Description-btn {
	float:right;
	right:25px;
	width: 130px;
}
#legend {
	float:right;
	right: 35px;
	width:110px;
	color:silver;
}
#sliderbtn {
	float:right;
	right: 45px;
	width: 130px;
}
#Menu {
	float:right;
	right: 55px;
	width: 80px;
}
#search {
	position:absolute; 
	top:0; 
	bottom:0;
	left:300px;
	margin:auto;
	font-size: 12px;
	height:20px;
}

/*CSS code for the html of the map description*/

#MapDescription {
	position:relative;
	display: none;
	width: 650px;
	height: 400px;
	overflow: auto;
}

/*CSS code for the html of the impressum*/

#Impressum {
	position:relative;
	display: none;
	width: 650px;
	height: 400px;
	overflow: auto;
}

/*CSS code for the html of the results of the search place*/

.address-result{
	border-bottom:0.5px solid silver;
	border-left:0.5px solid silver;
	border-right:0.5px solid silver;
	font-size:12px;
	padding:4px;
	z-index:1000;
	cursor:pointer;
	background-color: #efefef;
	font-family: Verdana, sans-serif;
	text-align: left;
	vertical-align: left;
}

/*CSS code for the search place*/

#search-results{
	margin-top: 6px;
	position:absolute;
	font-size: 12px;
  	background-color: #efefef;
  	cursor:context-menu;
  	border-top:0.5px solid silver;
  	max-width: 300px;
   	visibility: hidden;
	z-index:20;
	text-align:left;
	vertical-align:left;
}

/*CSS code for the arrows of the pipes*/

.arrowFlow{
   position:absolute;
    /*width:20px;
  	height:10px;
  	background-size: 100% 100%;
  	background-image: url("../data/arrow.svg");
   	background-repeat: no-repeat;*/
   	z-index: 10;
}

/*CSS code for the pipe inspector*/

.pipe-inspector-c{
	border-radius: 5px;
	border: 1px solid silver;
	position: absolute;
	padding: 10px 10px 10px 10px;
	width: 220px;
	height: 60px;
	top:65%;
	right:10px;
	z-index: 11;
	background: #efefef;
	box-shadow: 0px 0px 20px #888888;
}

/*CSS code for the Legend*/

.legend-c{
	border-radius: 5px;
	border: 1px solid silver;
	position: absolute;
	padding: 10px 10px 10px 10px;
	width: 270px;
	height: 200px;
	top:25%;
	right:10px;
	z-index: 11;
	background: #efefef;
	box-shadow: 0px 0px 20px #888888;
	visibility:hidden;
}
.legend-title{
	font-size:14px }
.legend-subtitle{

	font-size:13px }
.legend-label{
	font-size:11px;
	display:inline-block;
	padding-left: 7px;
	vertical-align: middle;
	height: 100%;
}
.legend-item{
	height:20px;
}
.legend-item-diam{
	cursor: pointer;
}
.legend-svg{
	height:19px;
}
#mat-legend{
	float:left;}
#diam-legend{
	float:right;}

/*CSS code for the Web-page logo*/

#Logo {
  position:absolute;
  top:50%;
  margin-top: -20px;
  cursor: pointer;
  left:1%;
  width:177px;
  height:39px;
  z-index: 15;
}

/*Icon opacity to 1 when layer is selected*/

.w2ui-icon.icon-rain {
  background: url(../Icons/RainIcon.png) no-repeat center !important;
  background-size: 15px 15px !important;
  opacity: 0.5;
}
.w2ui-icon.icon-rain.w2ui-icon-selected {
  opacity: 1;
}

.w2ui-icon.icon-drainage {
  background: url(../Icons/DrainageIcon.png) no-repeat center !important;
  background-size: 15px 15px !important;
  opacity: 0.5;
}
.w2ui-icon.icon-drainage.w2ui-icon-selected {
  opacity: 1;
}

.noUi-value-horizontal {
    font-size: 10px !important;
}
